.main-container-login{
    margin: 10% auto;
    width: 50%;
}
body{
    margin: 0;
    padding: 0;
}

.login-body{
    background-color: #2a73cc;
}

#login-form {
    width: 50%;
    padding-left: 140px;
}

#exo-form {
    width: 50%;
    padding-left: 140px;
}

#login-form input{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 0;
}
#exo-form input{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
}

#exo-form select{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 60%;
    border-radius: 4px;
    border: 0;
}

.form-page{
    padding: 120px;
}
#exo-form button{
    border: 0;
    text-align: center;
    padding: 6px 16px;
    border-radius: 7px;
    color: white;
    background-color: #000;
    cursor: pointer;
}
#login-form button{
    border: 0;
    text-align: center;
    padding: 6px 16px;
    border-radius: 7px;
    color: white;
    background-color: #000;
    float: right;
    margin-right: -20px;
    cursor: pointer;
}
#login-form button:hover{
    background-color: #336aad;
    color: #000;
}
#login-form img{
    margin-bottom: 10px;
}

/* Homepage styles */

.main-home-container nav{
    padding: 0;
    margin: 0;
    background-color: rgb(42, 115, 204);
}

.main-home-container{
    overflow:hidden;
}

.main-home-container nav ul {
    padding: 10px 240px;
    margin: 0;
}

.main-home-container nav ul li{
   display: inline-block;
   font-size: 17px;
   padding: 12px 22px;
   cursor: pointer;
   color: #fff;
}
.main-home-container nav ul li:hover{
   color: #000;
 }
 .main-home-container nav ul li a{text-decoration: none;}
 .main-content{
    width: 80%; 
    margin: auto 20%;
    padding: 50px;
 }
.logout{
    float: right;
}
.logout-btn{
    text-decoration: none;
    background: #336aad;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: -12px;
}
.course-item{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #efefef;
    width: 700px;
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
}
.course-item
.first-part p{margin-bottom: 40px;}
/* .course-item img{float: right;} */

.first-part a.btn-style{
    border: 1px solid rgb(42, 115, 204);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 2px;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(42, 115, 204);
    text-decoration: none;
}
.first-part a.btn-style:hover{
    background-color: rgb(42, 115, 204);
    color: #fff;
}
.course-header p{
    font-size: 18px;
    margin-bottom: 30px;
}
.bg-image{
    background-image: url("../img/learn-code.jpg");
    height: 300px;
}
.first-part span{
    padding-left: 10px;
    border-left: 2px solid orange;
}